<% if (typeof id_cred !== 'undefined' && id_rol == 4) { %>

<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('../../html/MainHead') %>

    <title>Curso</title>

</head>

<body>

    <%- include('../../html/MainMenu') %>


    <%- include('../../html/MainHeader') %>

    <div class="br-mainpanel">
        <div class="br-pageheader pd-y-15 pd-l-20">
            <nav class="breadcrumb pd-0 mg-0 tx-12">
                <a class="breadcrumb-item" href="#">Ventanilla</a>

            </nav>
        </div>
        <!-- <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h4 class="tx-gray-800 mg-b-5">Usuarios</h4>

        </div> -->

        <div class="br-pagebody">


            <div class="br-section-wrapper">
                <!-- <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Usuario</h6> -->
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="tx-gray-800">Lista de Ventanillas</h3>
                  
                    <button class="btn btn-primary btn-lg" id="add_button" onclick="nuevo()">
                        <i class="fa fa-plus"></i> Nuevo Registro
                    </button>
                </div>



                <table id="ventanilla_data" class="display" style="width:100%">
                    <thead>
                        <tr>
                          
                            <th class="wd-15p">Nombre</th>
                            <th class="wd-15p">Desc. Ventanilla</th>      
                            <th class="wd-15p">Tramite</th>           
                            <th class="wd-15p"></th>
                            <th class="wd-10p"></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    
    <%- include('modalmantenimientoVenta') %>

    <%- include('../../html/MainJs') %>



<!-- Botones de DataTables -->


<script src="/js/custom/mntventanilla.js"></script>

</body>

</html>

<% } else { %>
    <p>No tienes una sesión activa.</p>
    
<% } %>

